<% if( success && success.length){%>
    <h1 style="color: green;"><%= success %></h1>
<% } %>

<% if( error && error.length){%>
    <% console.log(error)%>
    <h1 style="color: red;"><%= error %></h1>
<% } %>