<h1> New Posts!</h1>

<form action="/posts" method="POST">
    <p><input type="text" name="title"  placeholder="Title"></p>
    <p><input type="text"name="price"  placeholder="Price"></p>
    <p><textarea name="" name="description" placeholder="Description"></textarea></p>
    <p><input type="text" name="location" placeholder="Location"></p>
    <p><input type="submit" placeholder=""></p>
</form>